.headerWrapper {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    background-color: #eaccff;
    padding-left: 30px;
    padding-right: 30px;
}

.currencyLogo {
    font-size: 20px;
    line-height: 30px;
}

.headerCurrencyWrap {
    max-width: 900px;
}